html,body{
	height:100%;
}

#test{
	height:100%;
}
.jumbotron{ 
  		background-color: #C7EAEE;
  		color: #ffffff;
  		margin: 0px;
  		height: 450px;
}
.homespacer{
	margin-top:80px;
	margin-left: -50px;
}
.spacer{
  		margin-right: 20px;
}

.bg-grey{
  		background-color: #989898;
}
.bg-teal{
	    background-color: #c7eaee;
}
<<<<<<< HEAD
.block-size{
	height: 300px;
}

.block-text{
	color: #FFFFFF;
	font-size: 16px;
}

.vert-align{
	display: -webkit-flex;
 			display: flex;
 			align-items: center;
 			flex-direction: column;
}

.img-align{
	margin-top:-7px;
}
<<<<<<< HEAD

.navbar{
	background-color: rgba(255,255,255,0.6);
}

.gopher{
 	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.block-display{
	display:block;	
}

@font-face {
	
  		font-family: 'Monty';
  		src: url(../fonts/Montez-Regular.ttf);
}

.monty-font{
	font-family: 'Monty';
	font-size: 100px;
}
.logo {
  		font-size: 70px;
}
.fill{	
	height:75%;	
}
#title-text{
	margin-left:120px;	
}
#profile-widget{
	margin-top:5px;
	margin-right:5px;
	position:fixed;
	top:0;
	right:0;
	z-index:9999;
}
#profile-wdiget-button-container{
	display:block;
}
#wrapper{
	height:100%;
	margin:0 auto;	
}
.w_960{
	width:960px;
	margin:0 auto;
}
.pad-nav-bar{
	padding-top:50px;
}