@CHARSET "ISO-8859-1";

body {
	width: 100%;
	background-color: #ebffea;
}

.banner {
	position: fixed;
	width: 100%;
	top: 0;
	left: -1px;
}

.content {
	margin: auto;
	width: 100%;
}