@CHARSET "ISO-8859-1";

.profile-header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #c7eaee;
}

.img-circle {
	border-radius: 50%;
}

.tabs {
	margin-left: auto;
	margin-right: auto;
}